@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    font-family: 'Poppins', sans-serif;
    --sidebar-button-colour: rgb(194, 122, 194);
    --sidebar-button-hover: rgb(189, 112, 189);
    --border-radius: 50px;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(177, 177, 177);
}

#main-content {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
}

#header {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    background-color: white;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

#header-row-1 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: space-between;
}

#header-row-1 input {
    border-radius: var(--border-radius);
    border: 4px solid black;
    background-color: rgb(218, 218, 218);
    font-size: 1.5rem;
}

#header-row-2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

#welcome-user {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: start;
}

#hello-username {
    width: 300px;
}

#actions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 12px;
    justify-content: end;
}

#sidebar-heading {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    padding: 16px;
    align-self: start;
}

#sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--sidebar-button-colour);
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    color: white;
}

#sidebar ul {
    list-style-type: none;
    text-decoration: none;
}

#sidebar ul li {
    text-decoration: none;
    color: white;
}

.sidebar-section {
    display: grid;
    align-items: center;
    width: 100%;
}

.sidebar-section > nav > ul {
    display: grid;
    align-items: center;
    justify-content: start;
    grid-template-columns: 1fr;
}

.sidebar-section > nav > ul > li {
    text-decoration: none;
    color: white;
}

#sidebar-nav-1 {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#sidebar-nav-2 {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#dashboard-icon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 4px;
    height: 32px;
    width: 32px;
}

#icon-1 {
    background-color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

#icon-2 {
    background-color: white;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#icon-3 {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#icon-4 {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

#dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 16px;
    padding: 16px;
}

.sidebar-links {
    text-decoration: none;
    color: white;
    width: 100%;
    display: grid;
    align-items: center;
}

.sidebar-links a {
    text-decoration: none;
    color: white;
}

.sidebar-links:hover {
    background-color: var(--sidebar-button-hover);
}

.dash-block {
    border-left: 4px solid blueviolet;
    padding: 12px;
    background-color: white;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

button {
    background-color: var(--sidebar-button-colour);
    padding: 16px;
    border-radius: var(--border-radius);
    color: white;
    font-size: 1.2rem;
    width: 100px;
    border: none;
}

button:hover {
    background-color: var(--sidebar-button-hover);
}

button:active {
    box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}